.detail-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px;
}

.btn {
  padding: 8px 20px;
  text-decoration: none;
  background-color: #ececec;
  cursor: pointer;
  margin-right: 10px;
  border: none;
}

.btn:hover {
  background-color: #ababab;
}

.auction-item-details {
  display: flex;
  /* align-items: stretch; */
  flex-wrap: wrap;
  padding: 20px 0;
}

.auction-item-gallery {
  margin-right: 10px;
  max-width: 30%;
  float: left;
}

.auction-item-right {
  max-width: 60%;
  float: left;
}

@keyframes price-change {
  0% {
    color: white;
    opacity: 0.5;
    background-color: red;
  }
  100% {
    color: black;
    background-color: none;
  }
}

.auction-item-current-price {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  animation-name: price-change;
  animation-duration: 1s;
}

.auction-item-bidding-button {
  background: yellow;
  color: black;
  font-weight: bold;
}

@media (max-width: 600px) {
  .auction-item-gallery {
    min-width: 100%;
  }

  .auction-item-right {
    min-width: 100%;
  }
}
