nav {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
}

nav::after {
  content: '';
  clear: both;
  display: table;
}

nav ul {
  float: right;
}

nav li {
  display: inline;
  margin-right: 20px;
}
