.auction-item-card {
  flex-basis: 25%;
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-decoration: none;
}

.auction-item-card:hover {
  border: solid 1px;
  padding: 9px;
}

.auction-item-name {
  color: black;
}

.auction-item-img {
  display: block;
  width: 100%;
  height: auto;
}

.auction-item-price {
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

@media (max-width: 600px) {
  .auction-item-card {
    min-width: 100%;
  }
}
