.auction-item-list {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 20px 0;
}

.auction-item-list-title {
  margin-bottom: 20px;
  font-size: 40px;
  padding: 0 10px;
}

.auction-item-list-title span:last-of-type {
  color: #666;
  font-weight: normal;
  display: inline-block;
  margin-left: 20px;
}
